/* src/components/Header.css */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4caf50; /* 헤더 배경색 */
  padding: 10px 20px;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.header-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none; /* 밑줄 없애기 */
  transition: color 0.3s ease;
}

.header-title:hover {
  color: #dcedc8; /* 제목 호버 시 색상 */
}

nav {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.user-info .user-nickname {
  color: #f1db11; /* 닉네임 텍스트 색상 */
  font-weight: bold;
  margin-right: 10px;
  font-size: 1rem;
  white-space: nowrap; /* 줄바꿈 방지 */
}

.user-info span {
  margin-right: 10px;
  font-size: 1rem;
  white-space: nowrap;
}

.logout-button, .login-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* 버튼 사이에 간격 추가 */
}

.logout-button {
  background-color: #f44336; /* 빨간색 */
}

.logout-button:hover {
  background-color: #d32f2f; /* 어두운 빨간색 */
}

.login-button {
  background-color: #4caf50; /* 녹색 */
}

.login-button:hover {
  background-color: #388e3c; /* 어두운 녹색 */
}

button:focus {
  outline: none; /* 버튼에 포커스 시 기본 테두리 제거 */
}
